.meetVideoContainer {
  position: relative;
  height: 100vh;
  background-color: rgb(0, 0, 0);
}

.meetUserVideo {
  position: absolute;
  bottom: 10vh;
  height: 30vh;
  width: auto;
  left: 0;
  border-radius: 1.5rem;
}
.buttonContainer {
  position: absolute;
  width: 100vw;
  bottom: 0;
  text-align: center;
  border: 1px solid rgb(70, 70, 70);
  border-radius: 2rem;
}
.buttonContainer svg {
  font-size: 2rem;
}
.conferenceView {
  display: flex;
  padding: 10px;
}

.conferenceView video {
  width: 40vw;
  min-width: 30vw;
  border-radius: 2rem;
  margin: 0 0.5rem;
}

.chatRoom {
  position: absolute;
  height: 90vh;
  right: 0;
  background: white;
  border-radius: 20px;
  width: 30vw;
  bottom: 10vh;
  padding-inline: 20px;
}

.chatContainer {
  position: relative;
  height: 100%;
}

.chattingArea {
  position: absolute;
  bottom: 0;
}
